<body>
    <div>
        <div class="flex items-center justify-between bg-gray-700 p-5">
            <h1 class="uppercase text-gray-600 font-semibold text-xl">Temi's Kitchen</h1>
            <ul class="flex text-md items-center lowercase md:show text-gray-500">
                <li class="text-lg font-semibold">Home</li>
                <li class="ml-4">About</li>
                <li class="ml-4">Contact Us</li>
            </ul>
            <svg class="w-5 text-gray-400 lg:hidden" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
        <div class="text-6xl font-bold p-5">
            Recipe
        </div>
        <div class="p-5">
            <div class="text-md font-semibold text-gray-500">
                Latest Recipe
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div class="mt-4 h-48 shadow-md rounded-md bg-green-500 overflow-hidden hover:shadow-lg relative">
                    <img src="assets/images/lettuce.jpg" alt="lettuce" class="shadow h-32 w-full object-cover" />
                    <div class="mx-4 my-2">
                        <div class="font-bold text-lg text-green-300">
                            Lettuce
                        </div>
                        <div class="font-semibold text-sm text-green-200">
                            Recipe by Random
                        </div>
                    </div>
                    <div class="flex absolute top-0 bg-green-700 transparent text-white rounded-full m-4 px-1 text-sm">
                        <svg class="w-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                        <div class="ml-2">
                        25 min
                        </div>
                    </div>
                </div>
                <div class="mt-4 h-48 shadow-md rounded-md bg-blue-500 overflow-hidden hover:shadow-lg relative">
                    <img src="assets/images/curry.jpg" alt="curry" class=" shadow h-32 w-full object-cover">
                    <div class="mx-4 my-2">
                        <div class="font-bold text-lg text-blue-300">
                            Curry
                        </div>
                        <div class="font-semibold text-sm text-blue-200">
                            Recipe by Bode Thomas
                        </div>
                    </div>
                    <div class="flex absolute top-0 bg-blue-500 transparent text-white rounded-full m-4 px-1 text-sm">
                        <svg class="w-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                        <div class="ml-2">
                        25 min
                        </div>
                    </div>
                </div>
                <div class="mt-4 h-48 shadow-md rounded-md bg-yellow-500 overflow-hidden hover:shadow-lg relative">
                    <img src="assets/images/orange.jpg" alt="orange" class=" shadow h-32 w-full object-cover">
                    <div class="mx-4 my-2">
                        <div class="font-bold text-lg text-yellow-300">
                            Orange
                        </div>
                        <div class="font-semibold text-sm text-yellow-200">
                            Recipe by Williams Dafoe
                        </div>
                    </div>
                    <div class="flex absolute top-0 bg-yellow-600 transparent text-white rounded-full m-4 px-1 text-sm">
                        <svg class="w-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                        <div class="ml-2">
                        25 min
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
